[Unit]
Description=Medion Signium Keyboard Custom Serio Driver Loader
After=systemd-modules-load.service systemd-udevd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/load_kbd_module.sh

[Install]
WantedBy=multi-user.target
